.galeria{
    width: 90%;
    margin:auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
  }

  .carousel-inner img {
    width: 500px;
    height: 500px;
 
  }