.nav{ 
    list-style: linear;
    padding: 0;
    background-color: $fondo-claro;
    width: 100%;
    max-width: 100%;
    margin: right;
  }
  
  
  .nav li a{
    text-decoration: none;
    color: $textoAzul;
    padding: 20px;
    display: block;
  }
  
  .nav > li{
    display: inline-block;
    text-align: center;
  }
  
  .nav li a:hover{
    background: #263747;
  }