.otsukare {
  display: flex;
}
.otsukare__parrafo{
  
    font-size: 1.2rem;
    width: 45%;
    margin-left: 100px;
    height: auto;
    float: left;
   
  }


  .otsukare-izquierda {
    width: 400px;
    justify-content: center;
    position: static;

  
    height: auto;
    float: left;

    
  }
